.footer__link {
  transition: opacity 0.3s ease-in;
  text-decoration: none;

  color: white;

  font-size: 16px;
  line-height: 1.12;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
