.cover__title {
  z-index: 2;

  max-width: 560px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  text-align: center;

  color: #FFFFFF;

  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;

}

@media screen and (max-width:767px) {
  .cover__title {
    max-width: 300px;

    font-size: 40px;

  }
}

@media screen and (max-width:424px) {
  .cover__title {
    max-width: 288px;

    font-size: 32px;
    line-height: 1.09;

  }
}
