.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  letter-spacing: 2px;

  color: #AAAAAA;

  font-size: 12px;
  line-height: 1.7;
}

@media screen and (max-width:1023px) {
  .place__url-heading {
    line-height: 1;

  }
}
